.place-container{
    width: 100vw;
    min-height: 100vh;
    background: url(../../../Assets/Images/cilim.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 50px;
}
.place-gp-link{
    width: 60%;
}
@media screen and (max-width: 991px){
    .place-gp-link{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .place-gp-link{
        width: 90%;
    }

}
@media screen and (max-width: 447px){
    .place-gp-link{
        width: 95%;
    }
}