.article-sections{
    width: 100vw;
    padding: 20px;
    padding-left: 80px;
    background: url(../../../../Assets/Images/leaves-pattern.png);
    background-color: rgb(67, 88, 48);
}

@media screen and (max-width:768px){
    .article-sections{
        padding: 30px;
        padding-left: 30px;
    }
}
@media screen and (max-width:447px){
    .article-sections{
        padding: 10px;
        padding-left: 10px;
    }
}