.article-section{
    position: relative;
    width: 60%;
    margin-top: 40px;
    background-color: #e7e7e7;
    padding: 20px 10px;
    border-radius: 10px;
    z-index: 100;
}
.article-ad{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
    height: 150px;
    margin-top: 20px;
    background-color: #e7e7e7;
    z-index: 100;
}
.article-ad img{
    min-width: 100%;
    min-height: 100%;
}
.article-section h2{
    font-size: 30px;
    color: black;
}
.article-section p{
    font-size: 18px;
    margin: 20px 0 20px 0;
    line-height: 30px;
    color: black;
    font-weight: bold;
}
.article-section img{
    width: 100%;
    border-radius: 10px;
    border: 3px solid #3f3f3f;
}
.article-section hr{
    margin-top: 20px;
}


@media screen and (max-width:991px){
    .article-section{
        width: 80%;
    }
}
@media screen and (max-width:768px){
    .article-section{
        width: 100%;
    }
}
@media screen and (max-width:447px){
    .article-section{
        margin-top: 20px;
    }
}