.about-container{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../Assets/Images/about-bckg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    padding-top: 150px;
    padding-bottom: 20px;
}

.about-flag-img{
    width: 100%;
    min-height: 100%;
}
.flag-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.about-box{
    width: 60%;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 100;
}
.about-box h2{
    color: white;
    font-size: 32px;
}
.about-box h3{
    color: white;
    margin-top: 30px;
    font-size: 32px;
}

.about-box p{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    line-height: 35px;
}

.message-input{
    width: 100%;
    height: 150px;
    resize: none;
    padding: 5px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
}
.msg-btn{
    width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 991px){
    .about-flag-img{
        width: auto;
        height: 100%;
    }
    .about-box{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .about-box{
        width: 95%;
    }
}

@media screen and (max-width: 447px){
    .about-box p{
        font-size: 16px;
    }
    .about-box h2, .about-box h3{
        font-size: 25px;
    }
}